<div class="container enter">
  <div class="row center">
    <h4 class="indent">Add an Author</h4>
  </div>
  <div class="row">
    <form class="col s12" action="/newauthor" method="post">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" name="first_name">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" name="last_name">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="biography" class="materialize-textarea" name="biography"></textarea>
          <label for="biography">Biography</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="portrait_url" type="text" class="validate" name="portrait_url">
          <label for="portrait_url">Portrait URL</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 center">
          <input id="submit" type="submit">
        </div>
      </div>
    </form>
    <div class="col m4 offset-m4 center">
      <a href="/authors">Back to Authors</a>
    </div>
  </div>
</div>
