<div class="row">
  <div class="col m5 offset-m1">
    <div class="card">
      <div class="card-image">
        <img src="https://static.pexels.com/photos/7754/pexels-photo.jpg">
      </div>
      <div class="card-action">
        <a href="#">Authors</a>
      </div>
    </div>
  </div>
  <div class="col m5">
    <div class="card">
      <div class="card-image">
        <img src="https://static.pexels.com/photos/26890/pexels-photo-26890.jpg">
      </div>
      <div class="card-action">
        <a href="#">Books</a>
      </div>
    </div>
  </div>
</div>
