<div class="row top">
  <div class="col m5 offset-m1">
    <div class="card">
      <div class="card-image">
        <img src="https://static.pexels.com/photos/7754/pexels-photo.jpg">
      </div>
      <div class="card-action">
        <a href="/authors">Authors</a>
      </div>
    </div>
  </div>
  <div class="col m5">
    <div class="card">
      <div class="card-image">
        <a href="/books"><img src="https://static.pexels.com/photos/26890/pexels-photo-26890.jpg"></a>
      </div>
      <div class="card-action">
        <a href="/books">Books</a>
      </div>
    </div>
  </div>
</div>
